In [2]:
class Ninth_Class:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("name",self.name)
        print("age",self.age)

In [3]:
obj1=Ninth_Class("manish",14)

In [5]:
obj2=Ninth_Class("sonu",18)

In [6]:
obj3=Ninth_Class("ram",23)

print(id(Ninth_Class))
print(id(obj1))
print(id(obj1.name))
print(id(obj1.age))

In [7]:
print(id(Ninth_Class))
print(id(obj2))
print(id(obj2.name))
print(id(obj2.age))

2275639677360
2275650688480
2275651048240
140731899455824

In [9]:
print(id(Ninth_Class))
print(id(obj3))
print(id(obj3.name))
print(id(obj3.age))

2275639677360
2275650689872
2275651046576
140731899455984

In [8]:
obj1.show()

name manish
age 14

In [7]:
obj2.show()

name sonu
age 18

In [10]:
obj3.show()

name ram
age 23

In [19]:
class k:
    def __init__(self,name,age,salary,location):
        self.name=name
        self.age=age
        self.salary=salary
        self.location=location
    def name1(self):
        print(self.name)
    def age1(self):
        print(self.age)
    def salary1(self):
        print(self.salary)
    def location1(self):
        print(self.location)
    m=k("ram",12,3000,"Varansi")
    m.name1()
    m.age1()
    m.salary1()
    m.location1()

ram
12
3000
Varansi

In [14]:
m=k("ram",12,3000,"Varansi")

In [15]:
m.name1()

ram

In [16]:
m.age1()

12

In [17]:
m.salary1()

3000

In [18]:
m.location1()

Varansi

In [8]:
class k:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def name1(self):
        print(self.name)
    def age1(self):
        print(self.age)
    m=k("ram",12)
    m.name1()
    m.age1()

TypeError: 'max_min' object is not callable

In [3]:
class max_min:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
    def max1(self):
        print(max(self.x,self.y,self.z))
    def min1(self):
        print(min(self.x,self.y,self.z))

In [4]:
k=max_min(23,4,5)

k1=max_min(2,4,12)

In [5]:
k.max1()

23

In [6]:
k.max1()

23

In [54]:
k.min1()

4

In [17]:
class f1:
    def __init__(self):
        self.x=10
    def modify(self):
        self.x=self.x+1
    def f2(self):
        print(self.x)
        print(id(self))
        print(id(self.x))

In [18]:
class k:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
    def show(self):
        print("name",self.name)
        print("age",self.age)
        print("marks",self.marks)
        if self.marks>40:
            print("good")
        else:
            print("bad")

In [19]:
obj1=k("Rahul",14,44)
obj2=k("Ram",17,34)
obj3=k("Radha",15,40)

In [20]:
obj1.show()
obj2.show()
obj3.show()

name Rahul
age 14
marks 44
good
name Ram
age 17
marks 34
bad
name Radha
age 15
marks 40
bad

In [21]:
class school:
    def __init__(self,stu_name,stu_age):
        self.stu_name=stu_name
        self.stu_age=stu_age
    def show(self):
        print("name: ",self.stu_name)
        print("age: ",self.stu_age)
    @staticmethod
    def schoolinfo():
        print("school name is xyz")
        print("founder name is p")

In [22]:
class cetpa:
    def __init__(self,name,fee):
        self.name=name
        self.fee=fee
    def my_info(self):
        print("name",self.name)
        print("paid fee",self.fee)
        print("unpaid fee",10000-self.fee)
    @staticmethod
    def cetpainfo():
        print("new batch will be start from tomorrow and timing will be 12 pm")

In [23]:
ram=cetpa("ram",4000)

In [24]:
ram.my_info()

name ram
paid fee 4000
unpaid fee 6000

In [25]:
class k: 
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)
    class k1:
        def __init__(self,fname):
            self.fname=fname
        def show(self):
            print(self.fname)

In [26]:
m=k("ajay",10)

In [27]:
m.show()

ajay
10

In [28]:
class student:
    def __init__(self,name,fname,mname,age,clas,mark,fee):
        self.name=name
        self.fname=fname
        self.mname=mname
        self.age=age
        self.clas=clas
        self.mark
        self.fee=fee
    def info(self):
        print(self.name)
        print(self.fname)
        print(self.mname)
        print(self.age)
        print(self.clas)
        print(self.mark)
        print(self.fee)
    def mark(self):
        m.info
        percent=(self.mark/600)*100
        print(percent)

In [29]:
m=k("raj",28,"ramu","komal",500)

TypeError: __init__() takes 3 positional arguments but 6 were given

In [30]:
 class mn:
        def __init__(seLF):
            self.x="india"
            def show(self):
                print(self.x)
        class mm(mn):
            pass

NameError: name 'mn' is not defined

In [31]:
class t:
    def setname(self,name):
        self.name=name
    def setage(self,age):
        self.age=age
    def getname(self):
        print(self.name)
    def getage(self):
        print(self.age)
    class stu (teacher):
    def setclasno(self):

IndentationError: expected an indented block (<ipython-input-31-cfdc350bf93c>, line 11)

In [32]:
class bank:
    def setname(self,name):
        self.name=name
    def setage(self,age):
        self.age=age
    def getname(self):
        print(self.name)
    def getage(self):
        print(self.age)
    def user(self,acc):
        self.acc=acc
    def get user(self):
        print(self.acc)

SyntaxError: invalid syntax (<ipython-input-32-afc81e64f30f>, line 12)

In [33]:
class x:
    def __init__(self):
        self.x=100
    def show(self):
        print(self.x)
class y(x):
    def show(self):
        print("i m in y",self.x)

In [34]:
k=x()
k.show()

100

In [35]:
class employee:
    def name(self,name):
        self.name=name
        def getname(self):
            print(self.name)
        def age(self,age):
            self.age=age
        def getage(self):
            print(self.age)
        def acount(self,acc):
            self.acc=acc
        def getacount(self):
            print(self.acc)
class user(employee):
    def bank_details(self,bd):
        self.bd=bd
    def get_bank_details(self):
        print(self.bd)

In [36]:
class k:
    def __init__(self,name):
        self.name=name
    def show(self):
        print(self.name)
class k1(k):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)

In [37]:
m=k("Ram")

In [38]:
m.show()

Ram

In [39]:
class P:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)
        print(id(self))
class P1:
    def __init__(self,name):
        self.name=name
    def show(self):
        print(self.name)
class child(P,P1):
    pass
k=child("Ramesh",23)
k.show()

Ramesh
23
1640428409040

In [ ]:
1 write a python program to make a banking system . the bank class has all fixed variable we have different different location
branch the branch class has all the branch detail fixed , only adress is not fixed. 
3rd class is revenue class fied detail 
target revenue
total class

1. all the class has show method from reven show method, i can see all 
2. from branch i can see bank
3. from bank only bank details

In [23]:
class bank:
    def __init__(self,name,location):
        self.name=name
        self.location=location
    def show(self):
        print(self.name)
        print(self.location)
class branch:
    def __init__(self,name):
        self.name=name
    def show(self):
        print(self.name)
class revenue(bank,branch):
    pass
k=revenue("pnb",gzb)
k.show()

NameError: name 'gzb' is not defined

In [38]:
class Bank:
    def __init__(self,name,location_name):
        self.name=name
        self.location_name=location_name
    def show(self):
        print(self.name)
        print(self.location_name)
class Branch:a
    def __init__(self,name):
        self.name=name
    def show(self):
        print(self.name)
class Revenue(Bank,Branch):
    pass
k=Revenue("pnb","ghaziabd")
k.show()

pnb
ghaziabd

In [ ]:
atmaraiprince@gmail.com

In [ ]:
class x:
    def __init__(self,x):
        self.x=x
class y(x):
    
    pass
y

In [ ]:
file handeling

In [42]:
f=open("even_batch.txt","w")

In [43]:
f.write("India")

5

In [44]:
f.close()

In [45]:
f=open("even_batch.txt","r")

In [46]:
f.read()

'India'

In [57]:
f=open("even_batch.txt","w")

In [58]:
f.write("ram ")

4

In [59]:
f.write("shyam ")

6

In [60]:
f.write("golu ")

5

In [62]:
f.close()

In [63]:
f=open("even_batch.txt","r")

f.read()

In [65]:
for i in range(3):
    f=open("even_batch.txt","w")
    print("enter the name:",end="")
    x=input()
    x=x+" "
    f.write(x)

enter the name:a
enter the name:b
enter the name:c

In [ ]:
write a python program fo finding prime no in list, when a data is not a prime no find, those no which will devide that data 
store all those number in text file.

In [13]:
x=[23,45,66,78,55,67,43,103]
for i in x:
    k=0
    for j in range(2,i):
           if(i%j==0):
            k=k+1
            break
    if(k==0):
        print(i)
        f=open("prime .txt","w")

23
67
43
103

In [27]:
x=[3,9,3,10,11,3,10,6,10,3,4,3,10,12,22,8,9,6,3]
y=dict()
for i in x:
    k=0
    for j in x:
        if(i==j):
            k=k+1
    y[i]=k

print(y)

{3: 6, 9: 2, 10: 4, 11: 1, 6: 2, 4: 1, 12: 1, 22: 1, 8: 1}

In [26]:
y

{3: 6, 9: 2, 10: 4, 11: 1, 6: 2, 4: 1, 12: 1, 22: 1, 8: 1}

In [1]:
x=[3,9,3,10,11,3,10,6,10,3,4,3,10,12,22,8,9,6,3]
y=dict()
for i in x:
    k=0
    for j in x:
        if(i==j):
            k=k+1
    y[i]=k

In [43]:
max(y,key=y.get)

3

In [44]:
max(y.values())

6

In [45]:
m=max(y,key=y.get)

In [46]:
print(m,"max no of occ:",y.get(m))

3 max no of occ: 6

neoron
single neoron
multiple neoron
relu
sigmod

In [1]:
def f1(x=non,y=non,z=non):
    if(x!=non) and(y!=non) and(z!=non):
        return x+y+z
    elif (x!=non) and (y!=non):

SyntaxError: unexpected EOF while parsing (<ipython-input-1-9841ec34ff5d>, line 5)

In [ ]:
class a:
    pass

In [2]:
x=4
print(type(x))
x="in"
print(type(x))

<class 'int'>
<class 'str'>