# operator

In [2]:
# arithmetic operator(+,-,*,/)
# assignment operator(=,+=,-=)
# comparison operator(==,>,>=,<,!=)
# logic operator(and,or,not)

a=input("Enter your name :")
print(a)

In [3]:
a=34
b=5
print("the sum of a and b is:", a+b)

the sum of a and b is: 39

In [4]:
a=45
b=15
print("the remender when a is devided by b is:",a%b)

the remender when a is devided by b is: 0

In [5]:
a=45
b=36
print(a>b)

True

In [6]:
a=input("enter first number:")
b=input("enter second number:")
a=int(a)
b=int(b)
avg=(a+b)/2
print("the average of a and b is:",avg)

enter first number:34
enter second number:35
the average of a and b is: 34.5

# string

In [7]:
#string is a data type in python, strung is a sequence of charecters unclosed in quots

#single quots string(a='Rishu')
#double quots string(a="Rishu")
#triple quots string(a='''Rishu''')

In [8]:
a='rishu"yadav'
print(a)

rishu"yadav

In [9]:
type(a)

str

In [10]:
a="rishu'yadav"
print(a)

rishu'yadav

In [11]:
type(a)

str

In [12]:
a='''rishu'yadav'''
print(a)

rishu'yadav

In [13]:
type(a)

str

In [14]:
name="Rishu"
print(name[0:3])

Ris

In [15]:
name="Rishu"
print(name[-4:11])

ishu

In [16]:
# slicing with skip value

name="Rishuyadav"
print(name[1:6:2])

ihy

In [17]:
name="Rishuyadav"
print(name[1::2])

ihydv

In [18]:
name="Rishuyadav"
name[:10]

'Rishuyadav'

In [19]:
name="Rishuyadav"
name[0:]

'Rishuyadav'

# string function

In [20]:
story="once upon a time there was a youtuber named Rishu who uploaded python coursewith notes"
print(len(story))

86

In [21]:
# endswith function

print(story.endswith('notes'))

True

In [22]:
#count function

print(story.count('a'))

5

In [23]:
#capitalize function

print(story.capitalize())

Once upon a time there was a youtuber named rishu who uploaded python coursewith notes

In [24]:
#find function

print(story.find('was'))

23

In [25]:
#replace function

print(story.replace('Rishu','Yadav'))

once upon a time there was a youtuber named Yadav who uploaded python coursewith notes

In [26]:
# escape sequence charecters

# \n-->newline
# \t-->tab
# \--> singlequots
#\\-->backslash

In [27]:
story="Rishu is boy.\n he is very good"
print(story)

Rishu is boy.
 he is very good

In [28]:
story="Rishu is boy.\t he is very good"
print(story)

Rishu is boy.	 he is very good

In [29]:
story="Rishu is boy.\ he is very good"
print(story)

Rishu is boy.\ he is very good

In [30]:
story="Rishu is boy.\\ he is very good"
print(story)

Rishu is boy.\ he is very good

In [31]:
name=input("enter your name:")
print("good after noon," + name)

enter your name:ram
good after noon,ram

In [32]:
 letter='''Dear <|NAME|>,Greeting from ABC coading house.
 I am happy tell you about your selection you are selectd!
 thanks and regards,
 Rishu 
 Date:<|DATE|>
 '''
name=input('Enter your Name\n')
date=input('Enter your Date\n')
letter=letter.replace("|NAME|>",name)
letter=letter.replace("|DATE|>",date)
print(letter)

Enter your Name
ram
Enter your Date
21 dec
Dear <ram,Greeting from ABC coading house.
I am happy tell you about your selection you are selectd!
thanks and regards,
Rishu
Date:<21 dec

In [33]:
letter="Dear HArry, This python course is nice thanks!"
print(letter)

Dear HArry, This python course is nice thanks!

In [34]:
formottedletter="Dear HArry,\n This python course is nice !\nthanks!"
print(formottedletter)

Dear HArry,
 This python course is nice !
thanks!

# list and tupple

In [35]:
# list method
# sort

l1=[1,8,7,2,21,15]
l1.sort()
print(l1)

[1, 2, 7, 8, 15, 21]

In [36]:
l1=[1,8,7,2,21,15]
print(l1)
l1.sort()
print(l1)

[1, 8, 7, 2, 21, 15]
[1, 2, 7, 8, 15, 21]

In [37]:
#reverse method

l1=[1,8,7,2,21,15]
l1.reverse()
print(l1)

[15, 21, 2, 7, 8, 1]

In [38]:
#append

l1.append(45)
print(l1)

[15, 21, 2, 7, 8, 1, 45]

In [39]:
#insert

l1=[1,8,7,2,21,15]
l1.insert(0,45)
print(l1)

[45, 1, 8, 7, 2, 21, 15]

In [40]:
#pop

l1=[1,8,7,2,21,15]
l1.pop(4)
print(l1)

[1, 8, 7, 2, 15]

In [41]:
#remove

l1=[1,8,7,2,21,15]
l1.remove(21)
print(l1)

[1, 8, 7, 2, 15]

In [42]:
#tupple method

#count

t=(1,2,4,5,4,1,2,1,1)
print(t.count(1))

4

In [43]:
# index

t=(1,2,4,5,4,1,2,1,1)
print(t.index(5))

3

# Dictionary & Sets

In [44]:
myDict={"Fast":"In a quick manner","Harry":"A coder","marks":[2,3],"anotherdict":{"harry":"player"}}
print(myDict)

{'Fast': 'In a quick manner', 'Harry': 'A coder', 'marks': [2, 3], 'anotherdict': {'harry': 'player'}}

In [45]:
print(myDict["Fast"])

In a quick manner

In [46]:
print(myDict["Harry"])

A coder

In [47]:
print(myDict["marks"])

[2, 3]

In [48]:
print(myDict['anotherdict']['harry'])

player

In [49]:
myDict["marks"]=[56,34]
print(myDict['marks'])

[56, 34]

In [50]:
# dictionary method

myDict={"Fast":"In a quick manner","Harry":"A coder","marks":[2,3],"anotherdict":{"harry":"player"}}
print(myDict)

#key method

print(myDict.keys())

{'Fast': 'In a quick manner', 'Harry': 'A coder', 'marks': [2, 3], 'anotherdict': {'harry': 'player'}}
dict_keys(['Fast', 'Harry', 'marks', 'anotherdict'])

In [51]:
print(list(myDict.keys()))

['Fast', 'Harry', 'marks', 'anotherdict']

In [52]:
# values method

print(myDict.values())

dict_values(['In a quick manner', 'A coder', [2, 3], {'harry': 'player'}])

In [53]:
print(list(myDict.values()))

['In a quick manner', 'A coder', [2, 3], {'harry': 'player'}]

In [54]:
# items method

print(myDict.items())

dict_items([('Fast', 'In a quick manner'), ('Harry', 'A coder'), ('marks', [2, 3]), ('anotherdict', {'harry': 'player'})])

In [55]:
#update method


print(myDict)
updateDict={"lovish":"friend"}
myDict.update(updateDict)
print(myDict)

{'Fast': 'In a quick manner', 'Harry': 'A coder', 'marks': [2, 3], 'anotherdict': {'harry': 'player'}}
{'Fast': 'In a quick manner', 'Harry': 'A coder', 'marks': [2, 3], 'anotherdict': {'harry': 'player'}, 'lovish': 'friend'}

In [56]:
#get method

print(myDict.get('Harry'))

A coder

In [57]:
##set

#  import : this syntax will creat an empty dictionary and not an empty set

a={}
print(type(a))

<class 'dict'>

In [58]:
# an empty set can be create using the below syntax
#can not add list and dict to set

b=set()
print(type(b))
b.add(4)
b.add(5)
print(b)

<class 'set'>
{4, 5}

In [59]:
print(len(b))

2

In [60]:
s={18,"18",18.0}
print(s)

{18, '18'}

In [61]:
type(s)

set

In [62]:
s={18,"18"}
print(s)

{18, '18'}

In [63]:
favlang={}
a=input('enter your favorit language shubham\n')
b=input('enter your favorit language ankita\n')
c=input('enter your favorit language shurbhi\n')
d=input('enter your favorit language sonali\n')
favlang['shubham']=a
favlang['ankit']=b
favlang['shurbhi']=c
favlang['sonali']=d
print(favlang)

enter your favorit language shubham
python
enter your favorit language ankita
c
enter your favorit language shurbhi
java
enter your favorit language sonali
c++
{'shubham': 'python', 'ankit': 'c', 'shurbhi': 'java', 'sonali': 'c++'}

# conditional expressions

In [64]:
age=int(input("enter your age: "))
if age>18:
    print("yes")
else:
    print("no")

enter your age: 34
yes

In [65]:
age=45
if(age>34 and age<56):
    print()

In [66]:
# is 

a=None
if(a is None):
    print("yes")
else:
    print("no")

yes

In [67]:
#in


a=[45,54,6]
print(454 in a)

False

In [69]:
names=['ankit','rohit','ram','aditi','shubham']
name=input("enter the name the check:  ")
if name in names:
    print('your name is present in the list')
else:
    print('your name is not present in the list')

enter the name the check:  rohit
your name is present in the list

In [71]:
marks=int(input('enter yor marks:    '))

if marks>=90:
    grade='Ex'
elif marks>=80:
    grade='A'
elif marks>=70:
    grade='B'
elif marks>=60:
    grade='C'
elif marks>=60:
    grade='D'
else:
    grade='F'
print('your grade is',grade)

enter yor marks:    34
your grade is F

# while loop

In [74]:
i=0
while i<10:
    print('yes')
    i=i+1
print('done')

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
done

In [75]:
i=0
while i<10:
    print('yes')
    break

yes

In [77]:
# 1 to 50 print number

i=1
while i<=50:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [84]:
i=0
while i<5:
    print('harry')
    i=i+1

harry
harry
harry
harry
harry

In [87]:
fruits=['banana','mango','grapes']
i=0
while i<len(fruits):
    print(fruits[i])
    i=i+1

banana
mango
grapes

# for loop

In [88]:
fruits=['banana','mango','grapes']
for item in fruits:
    print(item)

banana
mango
grapes

In [89]:
for i in range(10):
    print(i)
else:
    print('this is inside else of for ')

0
1
2
3
4
5
6
7
8
9
this is inside else of for

In [90]:
# break

for i in range(10):
    print(i)
    if i ==5:
        break

0
1
2
3
4
5

In [94]:
# continue

for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [98]:
# pass


i=4
if i>0:
    pass
print('rishu is good boy')

rishu is good boy

In [97]:
i=4
if i>0:
    
print('rishu is good boy')

IndentationError: expected an indented block (<ipython-input-97-7562deffb02a>, line 4)

In [101]:
x=10
for i in range(1,11):
    print(10*i)

10
20
30
40
50
60
70
80
90
100

In [103]:
l1=['sohan','sachin', 'ankit','rahul ']
for i in l1:
    if i.startswith('s'):
        print('hello',i)

hello sohan
hello sachin

In [104]:
n=4
for i in range(4):
    print('*'*(i+1))

*
**
***
****

In [110]:
for i in range(5):
        print((4-i)*" ",(2*i+1)*"#")

     #
    ###
   #####
  #######
 #########

In [125]:
for i in range(1):
    print("# "*3)
    print("#   "*2)
    print("# "*3)

# # #
#   #
# # #

# function

In [128]:
marks=[45,78,86,77]
percentage1=(sum(marks)/400)*100
print(percentage1)

71.5

In [132]:
marks=[45,78,86,77]
percentage1=(sum(marks)/400)*100


marks1=[75,98,88,78]
percentage2=(sum(marks1)/400)*100
print(percentage1, percentage2)

71.5 84.75

In [138]:
def greet(name):
    print("good day" ,name)
greet('harry')

good day harry

In [144]:
def greet(name):
    print("good day" ,name)
def mysum(num1, num2 ):
    return num1+num2

greet('harry')
s=mysum(35,7)
print(s)

good day harry
42

In [145]:
def greet(name='stranger'):
    print("good day" ,name)
greet('harry')
greet()

good day harry
good day stranger

In [146]:
def greet(name):
    print("good day" ,name)
greet('harry')
greet()

good day harry

TypeError: greet() missing 1 required positional argument: 'name'

In [150]:
#recurtion

n=4
product=1
for i in range(n):
    product=product*(i+1)
print(product)

24

In [152]:
def maximum(num1,num2,num3):
    if(num1>num2):
        if(num1>num3):
            return num1
        else:
            return num3
    else:
        if(num2>num3):
            return num2
        else:
            return num3

In [156]:
m=maximum(13,58,56)
print('the value of maximum:',m)

the value of maximum: 58

In [160]:
def farh(cel):
    return(cel*(9/5))+32
c=37
f=farh(c)
print('farhreheit',f)

farhreheit 98.60000000000001

In [161]:
print('hello')
print('how')
print('are')
print('you')

hello
how
are
you

In [162]:
print('hello',end=" ")
print('how',end=" ")
print('are',end=" ")
print('you',end=" ")

hello how are you

In [167]:
n=5
for i in range(n):
    print("#"*(n-i))

#####
####
###
##
#

In [168]:
# strip function

this="     rishu is good    "
print(this)
print(this.strip())

     rishu is good
rishu is good

# Oops

In [18]:
class Ninth_Class:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print('name',self.name)
        print('age',self.age)

In [21]:
obj1=Ninth_Class('Manish',17)

In [22]:
obj2=Ninth_Class('sonu',22)

In [29]:
obj1.show()
obj2.show()

name Manish
age 17
name sonu
age 22

In [30]:
class k:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def name1(self):
        print(self.name)
    def age1(self):
        print(self.age)

In [40]:
m=k('ramu',23)

In [41]:
m.name1()

ramu

In [43]:
m.age1()

23

In [50]:
class max_min:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
    def max1(self):
        print(max(self.x,self.y,self.z))
    def min1(self):
        print(min(self.x,self.y,self.z))

In [51]:
k=max_min(23,4,6)

In [52]:
k1=max_min(12,34,5)

In [54]:
k.max1()

23

In [56]:
k1.max1()

34

In [58]:
k.min1()

4

In [60]:
k1.min1()

5

# Type of method

In [69]:
# Instant method
# Class method
# Statics method

# instant method

In [70]:
#Instant Method (in this pass the self)

# esme koi bhi call nhi kr sakta  hai jbtak uske pass object nhi hoga

In [65]:
class stu:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
    def show(self):
        print("Name:",self.name)
        print("Age:",self.age)
        print("Marks:",self.marks)
    def performance(self):
        if(self.marks>80):
            print('very good')
        elif (self.marks>60):
            print('good')
        else:
            print('poor')

In [66]:
sita=stu('Sita',14,88)
geeta=stu('Geeta',23,56)
ram=stu('Ram',22,45)

In [67]:
sita.show()

Name: Sita
Age: 14
Marks: 88

In [68]:
sita.performance()

very good

# class method

In [71]:
 # class method on class varible or static variable.this method is
    # written using @classmethod
    
    # decorrator above that

In [72]:
class car:
    wheel=4
    def __init__(self):
        self.name="r"
        
    @classmethod
    def k(cls,x):
        print('this car',x,'has',cls.wheel,'wheels')

In [73]:
car.k('ford')

this car ford has 4 wheels

# static method

In [74]:
# static method is used when some processing is related to the class but
# not the class or its instant.

#esme koi bhi call kr sakta h

In [75]:
class stu:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
    def show (self):
        print("Name:",self.name)
        print("Age:",self.age)
        if(self.marks>80):
            print('very good')
        elif (self.marks>60):
            print('good')
        else:
            print('poor')
    @staticmethod
    def k1():
        print('nothing here')

In [76]:
stu.k1()

nothing here

In [77]:
class school:
    def __init__(self,stu_name,stu_age):
        self.stu_name=stu_name
        self.stu_age=stu_age
    def show(self):
        print('name: ',self.stu_name )
        print('age: ',self.stu_age )
    @staticmethod
    def schoolinfo():
        print('school name is xyz')
        print('founder name is Rishu')

In [78]:
school.schoolinfo()

school name is xyz
founder name is Rishu

In [121]:
class school:
    principle_name="mayank"
    def __init__(self,stu_name,stu_age):
        self.stu_name=stu_name
        self.stu_age=stu_age
    def show(self):
        print('name: ',self.stu_name )
        print('age: ',self.stu_age )
        print('principle_name: ',self.principle_name)
    @classmethod
    def change(cls,x):
        cls.principle_name=x
    @staticmethod
    def schoolinfo():
        print('school name is xyz')
        print('founder name is Rishu')

In [122]:
school.schoolinfo()

school name is xyz
founder name is Rishu

In [123]:
geeta=school('Geeta',23)

In [124]:
geeta.show()

name:  Geeta
age:  23
principle_name:  mayank

In [125]:
geeta.change('suresh')

In [126]:
  geeta.show()

name:  Geeta
age:  23
principle_name:  suresh

In [127]:
class cetpa:
    def __init__(self,name,fee):
        self.name=name
        self.fee=fee
    def my_info(self):
        print('name', self.name)
        print('paid fee', self.fee)
        print('unpaidfee', 10000-self.fee)
    @staticmethod
    def cetpacetpa1():
        print('new batch will start from tomorrow and training will be 12 pm')

In [130]:
ram=cetpa('ram',4000)

In [131]:
ram.my_info()

name ram
paid fee 4000
unpaidfee 6000

In [12]:
class k:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)
    class k1:
        def __init__(self,fathername):
            self.fathername=fathername
        def show(self):
            print(self.fathername)

In [13]:
m=k('ajay',23)

In [14]:
m.show()

ajay
23

In [22]:
n=m.k1('ramesh')

In [20]:
n.show()

ramesh

class mn:
    def __init__(self):
        self.x="india"
    def show(self):
        print(self.x)
class mm(mn):
    pass

In [27]:
k=mn()
k1=mm()

In [28]:
k1.x

'india'

In [29]:
class teacher:
    def setname(self,name):
        self.name=name
    def setage(self,age):
        self.age=age
    def getname(self):
        print(self.name)
    def getage(self):
        print(self.age)
class stu(teacher):
    def setclno(self,no):
        self.no=no
    def getclno(self):
        print(self.no)

In [30]:
t=teacher()
t.setname('rahul')
t.setage(44)

In [31]:
s=stu()
s.setname('rohit')
s.setage(12)
s.setclno(5)

In [35]:
t.getname()
s.getname()

rahul
rohit